<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8" />
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('student.static', filename='style.css' ) }}" />
</head>

<body>
    <h2>ホーム画面</h2>
    <div>
        {% if current_user.is_authenticated %}
        <p>
            <span>{{ current_user.username }}</span>
            <span><a href="{{ url_for('student.logout') }}">ログアウト</a></span>
        </p>
        {% endif %}
    </div>
    
    <a href="{{ url_for('student.available_items') }}" class="btn btn-primary">借りられるものを見る</a>
    <a href="{{ url_for('student.loan') }}" class="btn btn-secondary">貸出</a>
    <a href="{{ url_for('student.loan_history') }}" class="btn btn-secondary">貸出履歴を見る</a>
    <a href="{{ url_for('student.return_item') }}" class="btn btn-secondary">返却</a>
</body>

</html>
